 <section class="container-fluid">
     <div class="container">
         <div class="row">
            <div class="col-xl-10  mx-auto mid mt-5 d-block ">
                <div class="my-5">    
                    <p class="descrip text-center m-4 d-block d-sm-flex justify-content-center">Tools <img class="d-flex img-fluid img-sm-fluid mx-auto m-sm-0" src="../../../assets/DST image/Icone Larg/Icon_Tools (1).png" alt=""></p>  
                 </div>
                <div class="container d-inline-block d-sm-block">
                   <div class="row m-3 bgzin" id="axe">
                        <div class="col-sm-2">
                            <img class=" mx-auto d-sm-block d-block img-sm-fluid img-fluid "  src="../../../assets/DST image/Icones tools/Axe.png" alt="Axe">
                        </div>
                        <div class="col-sm-2">
                            <p class="d-sm-block d-block text-center mt-4 mb-4">=</p>
                        </div> 
                        <div class="col-sm-2">                          
                            <div class="item col col-sm-none">
                                <span class="notify-badge d-flex">1</span>
                                <img class="mx-auto d-sm-block d-block " src="../../../assets/DST image/Material Icones/Twigs.png"  alt="Twigs" >                                                    
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="item col col-sm-none">
                                <span class="notify-badge d-flex">1</span>
                                <img class=" mx-auto d-sm-block d-block" src="../../../assets/DST image/Material Icones/Flint.png" alt="Flint">
                            </div>
                        </div>                                                
                    </div>

                    <div class="row m-3 bgzin" id="gold-axe">
                        <div class="col-sm-2 ">
                            <img class=" mx-auto d-sm-flex d-block img-sm-fluid img-fluid "  src="../../../assets/DST image/Icones tools/Luxury_Axe.png" alt="Axe">
                        </div>
                        <div class="col-sm-2">
                            <p class="d-sm-block d-block text-center mt-4 mb-4">=</p>
                        </div>                        
                        <div class="col-sm-2">
                            <div class="item col col-sm-none">
                                <span class="notify-badge d-flex">4</span>
                                <img class=" mx-auto d-sm-block d-block" src="../../../assets/DST image/Material Icones/Twigs.png" alt="Twigs">
			                </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="item col col-sm-none">
                                <span class="notify-badge d-flex">2</span>
                                <img class=" mx-auto d-sm-block d-block" src="../../../assets/DST image/Material Icones/Gold_Nugget.png" alt="Gold_Nugget">
                            </div>
                        </div>                                                
                    </div>

                    <div class="row m-3 bgzin" id="Pickaxe">
                        <div class="col-sm-2 ">
                            <img class=" mx-auto d-sm-flex d-block img-sm-fluid img-fluid"  src="../../../assets/DST image/Icones tools/Pickaxe.png" alt="Pickaxe">
                        </div>
                        <div class="col-sm-2">
                            <p class="d-sm-block d-block text-center mt-4 mb-4">=</p>
                        </div>                         
                        <div class="col-sm-2">
                            <div class="item col col-sm-none">
                                <span class="notify-badge d-flex">2</span>      
                                <img class=" mx-auto d-sm-block d-block " src="../../../assets/DST image/Material Icones/Twigs.png" alt="Twigs">
                            </div>
                        </div>                        
                        <div class="col-sm-2">
                            <div class="item col col-sm-none">
                                <span class="notify-badge d-flex">2</span>
                                <img class=" mx-auto d-sm-block d-block " src="../../../assets/DST image/Material Icones/Flint.png" alt="Flint">
                            </div>
                        </div>                                                
                    </div>

                    <div class="row m-3 bgzin" id="gold-pickaxe">
                        <div class="col-sm-2 ">
                            <img class=" mx-auto d-sm-flex d-block img-sm-fluid img-fluid"  src="../../../assets/DST image/Icones tools/Opulent_Pickaxe.png" alt="gold-pickaxe">
                        </div>
                        <div class="col-sm-2">
                            <p class="d-sm-block d-block text-center mt-4 mb-4">=</p>
                        </div> 
                        <div class="col-sm-2">
                            <div class="item col col-sm-none">
                                <span class="notify-badge d-flex">4</span>
                                <img class=" mx-auto d-sm-block d-block" src="../../../assets/DST image/Material Icones/Twigs.png" alt="Twigs">
			                </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="item col col-sm-none">
                                <span class="notify-badge d-flex">2</span>
                                <img class=" mx-auto d-sm-block d-block" src="../../../assets/DST image/Material Icones/Gold_Nugget.png" alt="Gold_Nugget">
                            </div>
                        </div>                                                   
                    </div>

                    <div class="row m-3 bgzin" id="shovel">
                        <div class="col-sm-2 ">
                            <img class=" mx-auto d-sm-flex d-block img-sm-fluid img-fluid"  src="../../../assets/DST image/Icones tools/Shovel.png" alt="Shovel">
                        </div>
                        <div class="col-sm-2">
                            <p class="d-sm-block d-block text-center mt-4 mb-4">=</p>
                        </div> 
                        <div class="col-sm-2">
                            <div class="item col col-sm-none">
                                <span class="notify-badge d-flex">2</span>      
                                <img class=" mx-auto d-sm-block d-block " src="../../../assets/DST image/Material Icones/Twigs.png" alt="Twigs">
                            </div>
                        </div>                        
                        <div class="col-sm-2">
                            <div class="item col col-sm-none">
                                <span class="notify-badge d-flex">2</span>
                                <img class=" mx-auto d-sm-block d-block " src="../../../assets/DST image/Material Icones/Flint.png" alt="Flint">
                            </div>
                        </div>                                                
                    </div>

                    <div class="row m-3 bgzin" id="gold-shovel">
                        <div class="col-sm-2 ">
                            <img class=" mx-auto d-sm-flex d-block img-sm-fluid img-fluid"  src="../../../assets/DST image/Icones tools/Regal_Shovel.png" alt="Regal_Shovel">
                        </div>
                        <div class="col-sm-2">
                            <p class="d-sm-block d-block text-center mt-4 mb-4">=</p>
                        </div> 
                        <div class="col-sm-2">
                            <div class="item col col-sm-none">
                                <span class="notify-badge d-flex">4</span>
                                <img class=" mx-auto d-sm-block d-block" src="../../../assets/DST image/Material Icones/Twigs.png" alt="Twigs">
			                </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="item col col-sm-none">
                                <span class="notify-badge d-flex">2</span>
                                <img class=" mx-auto d-sm-block d-block" src="../../../assets/DST image/Material Icones/Gold_Nugget.png" alt="Gold_Nugget">
                            </div>
                        </div>                                                  
                    </div>  
                    
                    <div class="row m-3 bgzin" id="Pitchfork">
                        <div class="col-sm-2 ">
                            <img class=" mx-auto d-sm-flex d-block img-sm-fluid img-fluid"  src="../../../assets/DST image/Icones tools/Pitchfork.png" alt="Pitchfork">
                        </div>
                        <div class="col-sm-2">
                            <p class="d-sm-block d-block text-center mt-4 mb-4">=</p>
                        </div> 
                        <div class="col-sm-2">
                            <div class="item col col-sm-none">
                                <span class="notify-badge d-flex">2</span>      
                                <img class=" mx-auto d-sm-block d-block " src="../../../assets/DST image/Material Icones/Twigs.png" alt="Twigs">
                            </div>
                        </div>                        
                        <div class="col-sm-2">
                            <div class="item col col-sm-none">
                                <span class="notify-badge d-flex">2</span>
                                <img class=" mx-auto d-sm-block d-block " src="../../../assets/DST image/Material Icones/Flint.png" alt="Flint">
                            </div>
                        </div>                                                
                    </div> 

                    <div class="row m-3 bgzin" id="Hammer">
                        <div class="col-sm-2 ">
                            <img class=" mx-auto d-sm-flex d-block "  src="../../../assets/DST image/Icones tools/Hammer.png" alt="Hammer">
                        </div>
                        <div class="col-sm-2">
                            <p class="d-sm-block d-block text-center mt-4 mb-4">=</p>
                        </div>                         
                        <div class="col-sm-2">
                            <div class="item col col-sm-none">
                                <span class="notify-badge d-flex">3</span>
                                <img class=" mx-auto d-sm-block d-block " src="../../../assets/DST image/Material Icones/Twigs.png" alt="Twigs">
			                </div>
                        </div>                        
                        <div class="col-sm-2">
                            <div class="item col col-sm-none">
                                <span class="notify-badge d-flex">3</span>
                                <img class=" mx-auto d-sm-block d-block " src="../../../assets/DST image/Material Icones/Rocks.png" alt="Rocks">
                            </div>
                        </div>                        
                        <div class="col-sm-2">
                            <div class="item col col-sm-none">
                                <span class="notify-badge d-flex">2</span>
                                <img class=" mx-auto d-sm-block d-block " src="../../../assets/DST image/Material Icones/Rope.png" alt="Rope">
                            </div>
                        </div>                                               
                    </div>

                    <div class="row m-3 bgzin" id="Razor">
                        <div class="col-sm-2 ">
                            <img class=" mx-auto d-sm-flex d-block "  src="../../../assets/DST image/Icones tools/Razor.png" alt="Razor">
                        </div>
                        <div class="col-sm-2">
                            <p class="d-sm-block d-block text-center mt-4 mb-4">=</p>
                        </div> 
                        <div class="col-sm-2">
                            <div class="item col col-sm-none">
                                <span class="notify-badge d-flex">2</span>      
                                <img class=" mx-auto d-sm-block d-block " src="../../../assets/DST image/Material Icones/Twigs.png" alt="Twigs">
                            </div>
                        </div>                        
                        <div class="col-sm-2">
                            <div class="item col col-sm-none">
                                <span class="notify-badge d-flex">2</span>
                                <img class=" mx-auto d-sm-block d-block " src="../../../assets/DST image/Material Icones/Flint.png" alt="Flint">
                            </div>
                        </div>                                                
                    </div> 

                    <div class="row m-3 bgzin" id="Feather_Pencil">
                        <div class="col-sm-2 ">
                            <img class=" mx-auto d-sm-flex d-block "  src="../../../assets/DST image/Icones tools/Feather_Pencil.png" alt="Feather_Pencil">
                        </div>
                        <div class="col-sm-2">
                            <p class="d-sm-block d-block text-center mt-4 mb-4">=</p>
                        </div>                         
                        <div class="col-sm-2">
                            <img class=" mx-auto d-sm-block d-block " src="../../../assets/DST image/Material Icones/Twigs.png" alt="Twigs">
                        </div>                        
                        <div class="col-sm-2">
                            <img class=" mx-auto d-sm-block d-block " src="../../../assets/DST image/Material Icones/Jet_Feather.png" alt="Jet_Feather">
                        </div>
                        <div class="col-sm-2">
                            <img class=" mx-auto d-sm-block d-block " src="../../../assets/DST image/Material Icones/Charcoal.png" alt="Charcoal">
                        </div>               

                    </div>                  
                                       
                </div>    
                
                
                                 
            </div>             
         </div>
     </div>
 </section>