<!-- <div class="container">
    <main class="content-box">
        <div class="content-title">
            <h1>Tools</h1>
            <img src="../../../assets/DST image/Icone Larg/Icon_Tools (1).png" alt="Tools">
        </div>        
    </main>
</div>
 -->

 <section class="container-fluid">
     <div class="container">
         <div class="row">
            <div class="col-xl-8  mx-auto mid mt-5 d-block ">
                <div class="my-5">    
                    <p class="descrip text-center m-4 d-block d-sm-flex justify-content-center">Tools <img class="d-flex img-fluid img-sm-fluid mx-auto m-sm-0" src="../../../assets/DST image/Icone Larg/Icon_Tools (1).png" alt=""></p>  
                 </div>
                <div class="container d-inline-block d-sm-block"> 
                    <div class="row m-3 bgzin" id="axe">
                        <div class="col-sm-2">
                            <img class=" mx-auto d-sm-block d-block img-sm-fluid img-fluid"  src="../../../assets/DST image/Icones tools/Axe.png" alt="Axe">
                        </div>
                        <div class="col-sm-2">
                            <p class="d-sm-block d-block text-center mt-4 mb-4">=</p>
                        </div> 
                        <div class="col-sm-2 ">                            
                            <img class=" mx-auto d-sm-block d-block img-sm-fluid img-fluid" src="../../../assets/DST image/Material Icones/Twigs.png" alt="Axe">                            
                        </div>
                        <div class="col-sm-2">
                            <img class=" mx-auto d-sm-block d-block img-sm-fluid img-fluid" src="../../../assets/DST image/Material Icones/Flint.png" alt="Axe">
                        </div>                                                
                    </div>

                    <div class="row m-3 bgzin" id="gold-axe">
                        <div class="col-sm-2 ">
                            <img class=" mx-auto d-sm-flex d-block img-sm-fluid img-fluid "  src="../../../assets/DST image/Icones tools/Luxury_Axe.png" alt="Axe">
                        </div>
                        <div class="col-sm-2">
                            <p class="d-sm-block d-block text-center mt-4 mb-4">=</p>
                        </div> 
                        <div class="col-sm-2">
                            <p class="d-sm-block d-block text-center mt-4 mb-4">4x</p>
                        </div>
                        <div class="col-sm-2">
                            <img class=" mx-auto d-sm-block d-block img-sm-fluid img-fluid" src="../../../assets/DST image/Material Icones/Twigs.png" alt="Axe">
                        </div>
                        <div class="col-sm-2">
                            <p class="d-sm-block d-block text-center mt-4 mb-4">2x</p>
                        </div>
                        <div class="col-sm-2">
                            <img class=" mx-auto d-sm-block d-block img-sm-fluid img-fluid" src="../../../assets/DST image/Material Icones/Gold_Nugget.png" alt="Axe">
                        </div>                                                
                    </div>

                    <div class="row m-3 bgzin" id="Pickaxe">
                        <div class="col-sm-2 ">
                            <img class=" mx-auto d-sm-flex d-block img-sm-fluid img-fluid"  src="../../../assets/DST image/Icones tools/Pickaxe.png" alt="Axe">
                        </div>
                        <div class="col-sm-2">
                            <p class="d-sm-block d-block text-center mt-4 mb-4">=</p>
                        </div> 
                        <div class="col-sm-2">
                            <p class="d-sm-block d-block text-center mt-4 mb-4">2x</p>
                        </div>
                        <div class="col-sm-2">
                            <img class=" mx-auto d-sm-block d-block img-sm-fluid img-fluid" src="../../../assets/DST image/Material Icones/Twigs.png" alt="Axe">
                        </div>
                        <div class="col-sm-2">
                            <p class="d-sm-block d-block text-center mt-4 mb-4">2x</p>
                        </div>
                        <div class="col-sm-2">
                            <img class=" mx-auto d-sm-block d-block img-sm-fluid img-fluid" src="../../../assets/DST image/Material Icones/Flint.png" alt="Axe">
                        </div>                                                
                    </div>

                    <div class="row m-3 bgzin" id="gold-pickaxe">
                        <div class="col-sm-2 ">
                            <img class=" mx-auto d-sm-flex d-block img-sm-fluid img-fluid"  src="../../../assets/DST image/Icones tools/Opulent_Pickaxe.png" alt="Axe">
                        </div>
                        <div class="col-sm-2">
                            <p class="d-sm-block d-block text-center mt-4 mb-4">=</p>
                        </div> 
                        <div class="col-sm-2">
                            <p class="d-sm-block d-block text-center mt-4 mb-4">4x</p>
                        </div>
                        <div class="col-sm-2">
                            <img class=" mx-auto d-sm-block d-block img-sm-fluid img-fluid" src="../../../assets/DST image/Material Icones/Twigs.png" alt="Axe">
                        </div>
                        <div class="col-sm-2">
                            <p class="d-sm-block d-block text-center mt-4 mb-4">2x</p>
                        </div>
                        <div class="col-sm-2">
                            <img class=" mx-auto d-sm-block d-block img-sm-fluid img-fluid" src="../../../assets/DST image/Material Icones/Gold_Nugget.png" alt="Axe">
                        </div>                                                
                    </div>

                    <div class="row m-3 bgzin" id="shovel">
                        <div class="col-sm-2 ">
                            <img class=" mx-auto d-sm-flex d-block img-sm-fluid img-fluid"  src="../../../assets/DST image/Icones tools/Shovel.png" alt="Axe">
                        </div>
                        <div class="col-sm-2">
                            <p class="d-sm-block d-block text-center mt-4 mb-4">=</p>
                        </div> 
                        <div class="col-sm-2">
                            <p class="d-sm-block d-block text-center mt-4 mb-4">2x</p>
                        </div>
                        <div class="col-sm-2">
                            <img class=" mx-auto d-sm-block d-block img-sm-fluid img-fluid" src="../../../assets/DST image/Material Icones/Twigs.png" alt="Axe">
                        </div>
                        <div class="col-sm-2">
                            <p class="d-sm-block d-block text-center mt-4 mb-4">2x</p>
                        </div>
                        <div class="col-sm-2">
                            <img class=" mx-auto d-sm-block d-block img-sm-fluid img-fluid" src="../../../assets/DST image/Material Icones/Flint.png" alt="Axe">
                        </div>                                                
                    </div>

                    <div class="row m-3 bgzin" id="gold-shovel">
                        <div class="col-sm-2 ">
                            <img class=" mx-auto d-sm-flex d-block img-sm-fluid img-fluid"  src="../../../assets/DST image/Icones tools/Regal_Shovel.png" alt="Axe">
                        </div>
                        <div class="col-sm-2">
                            <p class="d-sm-block d-block text-center mt-4 mb-4">=</p>
                        </div> 
                        <div class="col-sm-2">
                            <p class="d-sm-block d-block text-center mt-4 mb-4">4x</p>
                        </div>
                        <div class="col-sm-2">
                            <img class=" mx-auto d-sm-block d-block img-sm-fluid img-fluid" src="../../../assets/DST image/Material Icones/Twigs.png" alt="Axe">
                        </div>
                        <div class="col-sm-2">
                            <p class="d-sm-block d-block text-center mt-4 mb-4">2x</p>
                        </div>
                        <div class="col-sm-2">
                            <img class=" mx-auto d-sm-block d-block img-sm-fluid img-fluid" src="../../../assets/DST image/Material Icones/Gold_Nugget.png" alt="Axe">
                        </div>                                                
                    </div>

                    
                    
                    

                    
                    
                    
                        
                    <!-- <div class="table-responsive-sm">
                        <table class="table table-borderless">
                            <tbody>
                                <tr class="bgzin gap-3">
                                    <td><img src="../../../assets/DST image/Icones tools/Axe.png" alt="Axe"></td>
                                    <td>=</td>
                                    <td><img src="../../../assets/DST image/Material Icones/Twigs.png" alt="Twigs"></td>
                                    <td><img src="../../../assets/DST image/Material Icones/Twigs.png" alt="Twigs"></td>
                                    <td><img src="../../../assets/DST image/Material Icones/Twigs.png" alt="Twigs"></td>                                    
                                </tr>
                                <tr class="bgzin">
                                    <td><img src="../../../assets/DST image/Icones tools/Axe.png" alt="Axe"></td>
                                    <td>=</td>
                                    <td><img src="../../../assets/DST image/Material Icones/Twigs.png" alt="Twigs"></td>
                                    <td><img src="../../../assets/DST image/Material Icones/Twigs.png" alt="Twigs"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div> -->
                        
                                       
                </div>              
                                 
            </div>             
         </div>
     </div>
 </section>