<!-- <div class="container">
    <main class="content-box">
        <div class="content-title">
            <h1>Tools</h1>
            <img src="../../../assets/DST image/Icone Larg/Icon_Tools (1).png" alt="Tools">
        </div>        
    </main>
</div>
 -->

 <section class="container-fluid">
     <div class="container">
         <div class="row">
            <div class="col-md-8 mx-auto mid mt-5 ">    
                <p class="descrip text-center m-4">Tools <img class="img-fluid" src="../../../assets/DST image/Icone Larg/Icon_Tools (1).png" alt=""></p>  

                <div class="container"> 
                    <div class="row m-5 bgzin">
                        <div class="col">
                            <img class="rounded mx-auto d-block img-fluid"  src="../../../assets/DST image/Icones tools/Axe.png" alt="Axe">
                        </div>
                        <div class="col">
                            <img class="rounded mx-auto d-block img-fluid" src="../../../assets/DST image/Icones tools/Axe.png" alt="Axe">
                        </div> 
                        <div class="col">
                            <img class="rounded mx-auto d-block img-fluid" src="../../../assets/DST image/Icones tools/Axe.png" alt="Axe">
                        </div>
                        <div class="col">
                            <img class="rounded mx-auto d-block img-fluid" src="../../../assets/DST image/Icones tools/Axe.png" alt="Axe">
                        </div>
                        <div class="col">
                            <img class="rounded mx-auto d-block img-fluid" src="../../../assets/DST image/Icones tools/Axe.png" alt="Axe">
                        </div>                         
                    </div>

                    
                    <div class="row m-5 bgzin">
                        <div class="col">
                            <img class="rounded mx-auto d-block img-fluid"  src="../../../assets/DST image/Icones tools/Axe.png" alt="Axe">
                        </div>
                        <div class="col">
                            <img class="rounded mx-auto d-block img-fluid" src="../../../assets/DST image/Icones tools/Axe.png" alt="Axe">
                        </div> 
                        <div class="col">
                            <img class="rounded mx-auto d-block img-fluid" src="../../../assets/DST image/Icones tools/Axe.png" alt="Axe">
                        </div>
                        <div class="col">
                            <img class="rounded mx-auto d-block img-fluid" src="../../../assets/DST image/Icones tools/Axe.png" alt="Axe">
                        </div>
                        <div class="col">
                            <img class="rounded mx-auto d-block img-fluid" src="../../../assets/DST image/Icones tools/Axe.png" alt="Axe">
                        </div>                         
                    </div>
                    
                        
                    <!-- <div class="table-responsive-sm">
                        <table class="table table-borderless">
                            <tbody>
                                <tr class="bgzin gap-3">
                                    <td><img src="../../../assets/DST image/Icones tools/Axe.png" alt="Axe"></td>
                                    <td>=</td>
                                    <td><img src="../../../assets/DST image/Material Icones/Twigs.png" alt="Twigs"></td>
                                    <td><img src="../../../assets/DST image/Material Icones/Twigs.png" alt="Twigs"></td>
                                    <td><img src="../../../assets/DST image/Material Icones/Twigs.png" alt="Twigs"></td>                                    
                                </tr>
                                <tr class="bgzin">
                                    <td><img src="../../../assets/DST image/Icones tools/Axe.png" alt="Axe"></td>
                                    <td>=</td>
                                    <td><img src="../../../assets/DST image/Material Icones/Twigs.png" alt="Twigs"></td>
                                    <td><img src="../../../assets/DST image/Material Icones/Twigs.png" alt="Twigs"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div> -->
                        
                                       
                </div>              
                                 
            </div>             
         </div>
     </div>
 </section>