<div class="box-home">

  <div class="main-content-box">

    <div class="content-log">
      <div class="logo">
        <img src="../assets/DST image/Logo.png" alt="logo-dont-starve">
      </div>  
    </div>

    <div class="content-title">      
      <h1>Wiki</h1>      
    </div>

    <div class="content-text">     
        <h3>Tudo que você precisa para sobreviver</h3>      
    </div>

    
      <div class="person-img">
        <img src="../assets/DST image/img-home-icone.png" alt="persongem-dont-starve">
      </div> 
      
      <div class="btn">
        <button id="surviver">
          <mat-icon>double_arrow</mat-icon>
        </button>
      </div>
  </div>

</div>


